.back-image {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: sans-serif;
  background: url(../images/salad.jpg) no-repeat;
  background-size: cover;
}

.welcome-div {
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5%;
  left: 30%;
  color: white;
  font-family: sans-serif;
  border-bottom: 2px solid #fff700;
}

.sign {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8%;
  left: 60%;
  color: white;
  font-family: sans-serif;
}

.sign-up-box {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(00, 00, 00, 0.5);
}

.sign-up-box label {
  font-size: 12px;
  padding-left: 3px;
}

.text-box {
  width: 100%;
  overflow: hidden;
  font-size: 30px;
  padding: 4px 0;
  margin: 4px 0;
  border-bottom: 1px solid #fff700;
}

.text-box input {
  border: none;
  outline: none;
  background: none;
  color: white;
}

.sign-up-btn {
  border: 2px solid #000000;
  border-radius: 2em;
  background-color: #fff700;
  position: absolute;
  width: 100px;
  height: 25px;
  font-size: 15px;
  font-weight: bolder;
  top: 80%;
  left: 57%;
}

.sign-up-btn:hover {
  background-color: #3b3a08;
  transition-delay: -5s;
}

.forget-passsword a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: absolute;
  font-weight: bolder;
  font-size: 16px;
  top: 64%;
  left: 55%;
}

.forget-passsword a:hover {
  color: #3b3a08;
  transition-delay: -5s;
}
.log-in a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 3%;
  left: 95%;
}

.log-in a:hover {
  color: #fff700;
  transition-delay: -5s;
}

.logo {
  display: flex;
  justify-content: flex-end;
  top: 2%;
  left: 1%;
}

/* Log in page */
.log-in-btn {
  border: 2px solid #000000;
  border-radius: 2em;
  background-color: #fff700;
  position: absolute;
  width: 100px;
  height: 25px;
  font-size: 15px;
  font-weight: bolder;
  top: 60%;
  left: 35%;
}

.log-in-btn:hover {
  background-color: #3b3a08;
  transition-delay: -5s;
}

.sign-up a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 3%;
  left: 90%;
}

.sign-up a:hover {
  color: #fff700;
  transition-delay: -5s;
}

/* profile */

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px;
  height: 900px;
  transition: all 0.5s;
}

.points-dash {
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  width: 80%;
  justify-content: space-around;
  border-radius: 2em;
  justify-items: center;
  height: 200px;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  left: 10%;
  border: 1px solid #00ff43;
}

.points-dash .card:hover {
  transform: translateY(-10px);
}

.counter {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.counter .point-counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.counter .point-counter p {
  color: #777;
  font-weight: 700;
  font-size: 30px;
  transition: 0.5s;
}

.card:hover .counter .point-counter p {
  color: #fff;
  font-size: 40px;
}

.counter .point-counter p span {
  font-size: 34px;
  color: #777;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #00ff43;
  stroke-width: 10;
  stroke-linecap: round;
  position: relative;
  transform: translate(5px, 5px);
}
.points-dash h1 {
  position: relative;
  font-family: sans-serif;
  color: #00ff43;
  top: 35%;
}

/* profile-dash */
.arrow {
  display: flex;
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.profile-dash {
  display: grid;
  position: relative;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  width: 80%;
  grid-template-columns: 1fr 1fr;
  border-radius: 2em;
  height: 300px;
  overflow: hidden;
  transition: 0.5s;
  left: 10%;
  border: 1px solid #00ff43;
}
.profileimage {
  height: 300px;
  margin: 0;
  padding: 0;
}
.profileimage .imaging {
  margin: 20px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.profileimage img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.name {
  width: 100%;
  color: #00ff43;
}

.profile-card {
  display: flex;
  position: relative;
  height: 200px;
  flex-direction: column;
  padding-bottom: 10px;
  padding-right: 20px;
}

.profile-card div {
  height: 50px;
  position: relative;
  color: white;
  font-family: sans-serif;
  border-bottom: 2px solid #fff700;
}

.profile-card a {
  text-decoration: none;
  color: white;
}

.profileimage {
  display: flex;
  position: relative;
  justify-self: center;
  flex-direction: column;
  justify-content: space-around;
}

/* points-sales-menu */

.points-sales-menu {
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  width: 80%;
  justify-content: space-around;
  border-radius: 2em;
  justify-items: center;
  height: 300px;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  left: 10%;
  border: 1px solid #00ff43;
}
.slide {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
}

#slider input[type='radio'] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  padding: 30px;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 300ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 200px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  height: 100%;
}
.slide div {
  position: relative;
  margin: 10px;
}
#controle {
  margin: -130px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#contrale label {
  transition: opasity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#contrale label:hover {
  opacity: 1;
}
.arrow {
  display: flex;
  position: absolute;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* footer */

footer {
  display: grid;
  bottom: 0;
  padding: 20px;
  position: relative;
  height: 150px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
}

.footerlist {
  text-decoration: none;
  color: grey;
}
ul {
  list-style-type: none;
}

/* Edit Page */

.edit {
  float: left;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5%;
  left: 30%;
  color: white;
  font-family: sans-serif;
  border-bottom: 2px solid #fff700;
}

.edit-box {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(00, 00, 00, 0.5);
}

.edit-box label {
  font-size: 12px;
  padding-left: 3px;
}

.save-changes-btn {
  border: 2px solid #000000;
  border-radius: 2em;
  background-color: #fff700;
  position: absolute;
  height: 50px;
  width: 100px;
  height: 25px;
  font-size: 15px;
  top: 72%;
  left: 57%;
}

.save-changes-btn:hover {
  background-color: #3b3a08;
  transition-delay: -5s;
}

.save a {
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 3%;
  left: 95%;
}

.save a:hover {
  color: #fff700;
  transition-delay: -5s;
}

/* menu */

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
}
#signature-items {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  border: 2px solid #00ff43;
  border-radius: 10px;
  margin: 20px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
}
#signature-items div {
  padding: 20px;
  justify-content: center;
}
#signature-items div a {
  text-decoration: none;
  color: white;
  align-self: center;
}
#signature-items div:hover {
  background: grey;
  border-radius: 50%;
}

#drinks {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  border: 2px solid #00ff43;
  border-radius: 10px;
  margin: 20px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
}

#drinks div {
  padding: 20px;
  justify-content: center;
}
#drinks div a {
  text-decoration: none;
  color: white;
  align-self: center;
}
#drinks div:hover {
  background: grey;
  border-radius: 50%;
}
#starters {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  border: 2px solid #00ff43;
  border-radius: 10px;
  margin: 20px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
}
#starters div {
  padding: 20px;
  justify-content: center;
}
#starters div a {
  text-decoration: none;
  color: white;
  align-self: center;
}
#starters div:hover {
  background: grey;
  border-radius: 50%;
}
/* meal page */
.hungry-header {
  display: flex;
  top: 70px;
  margin: 20px;
  padding: 20px;
  position: relative;
}
.hungry-subheader {
  display: flex;
  top: 30px;
  margin: 20px;
  padding: 20px;
  position: relative;
}
.meal {
  transition: all 0.5s;
}
.meal-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
  left: 10%;
}
.selected-meal {
  display: flex;
  flex-direction: column;
  background: white;
  align-items: center;
  margin: 20px;
  padding: 10px;
  width: 300px;
  left: 10%;
  top: 100px;
  border-radius: 2em;
  height: 300px;
  border: 3px solid black;
}
.selected-meal div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.options {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.options div {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
}
.menu-page {
  width: 100%;
  height: 100vh;
  background-position: center;
  transition: all 0.5s;
}

/* Sidebar */
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  margin: 0;
  height: 100%;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar header {
  font-size: 22px;
  color: #00ff43;
  text-align: center;
  line-height: 70px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  user-select: none;
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar ul a {
  display: block;
  list-style: none;
  text-decoration: none;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid #00ff43;
  border-bottom: 1px solid #00ff43;
  transition: 0.4s;
}
ul li:hover a {
  padding-left: 50px;
}
.sidebar ul a i {
  margin-right: 16px;
}
#check {
  display: none;
}
label #btn,
label #cancel {
  position: fixed;
  cursor: pointer;
  background: black;
  border-radius: 3px;
  z-index: 1000;
}
label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
}
label #cancel {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
  left: 0;
}
#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel {
  left: 195px;
}
#check:checked ~ .menu-page {
  margin-left: 250px;
}
#check:checked ~ .profile-info {
  margin-left: 250px;
}
#check:checked ~ .meal {
  margin-left: 250px;
}

/* Checkout */

.top {
  display: flex;
  justify-content: space-between;
}
.top a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.checkout {
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
  padding: 40px;
  border: 3px solid black;
  border-radius: 3em;
}
.checkout-header h1 {
  display: flex;
  align-self: center;
}
.payment-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment-box div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #00ff43;
}
.progress span {
  display: flex;
  align-items: center;
}
.address form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.last-div {
  display: flex;
  justify-content: space-between;
}

#step-1:checked ~ #step1 {
  margin-left: 0;
}

/* Admin Dash */

.admin-options {
  display: flex;
  justify-content: space-around;
}

.admin-menu-page {
  position: absolute;
  width: 100%;
}

.menu {
  width: 100%;
}
.hungry-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  padding: 0;
  border-bottom: 2px solid #00ff73;
}
#meals-available div h2 {
  position: relative;
  margin: 0;
}
#meals-available {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
#meals-available div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}
#meals-available div a {
  text-decoration: none;
  color: black;
  align-self: center;
  margin: 20px;
}

#drinks-available {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
#drinks-available div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}
#drinks-available div a {
  text-decoration: none;
  color: black;
  align-self: center;
  margin: 20px;
}
#starters-available {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}
#starters-available div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 10px;
}
#starters-available div a {
  text-decoration: none;
  color: black;
  margin: 20px;
  align-self: center;
}
.users-info {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.users-info div {
  display: flex;
  align-items: center;
}
